<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book? - NiceBooks</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/functions.js" type="javascript"></script>
</head>
<body>
    <div class="addbook">
        <h1>Oh!</h1>
        <h2>We don't know about that book. <br>Would you mind talking to us about it?</h2>
        <form action="add-book" method="POST">
            <label>Title:</label><br>
            <input type="text" name="title" required><br>
            <label>Author:</label><br>
            <input type="text" name="author" required><br>
            <label>Publication date:</label><br>
            <input type="date" name="pubdate" required><br>
            <label>Your personal rating: <b id="rating">2.5</b> ★</label><br>
            <input name="rating" oninput="updateRating(this.value)" type="range" value="2.5" min="0" max="5" width="20%" step="0.5"><br>
            <button onclick="history.back()">Back</button>
            <button type="submit">Send</button>
            {{ if .error }}
                <p style="color: red">{{ .error }}</p>
            {{ end }}
        </form>
    </div>
    <script>
        // apparently creating a js file and calling methods from the templates is not supported
        function updateRating(val){
            document.getElementById("rating").innerHTML = val;
        }
    </script>
</body>
</html>