<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - NiceBooks</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Dashboard</h1>
    <div class="main">
        <div class="addreads">
            <h2>Add a new read</h2>
            <form action="/add-read" method="POST">
                <label>Title of the Book:</label><br>
                <input type="text" name="title"><br>
                <button>Add</button>
                {{ if .Err }}
                    <p style="color: red">{{ .Err }}</p>
                {{ end }}
            </form>
        </div>
        <div class="reads">
            <h2>Your reads</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publication date</th>
                        <th>¿Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .BookList }}
                    <tr>
                        <form action="/delete-read" method="post">
                            <input name="bookID" type="hidden" value="{{ .ID }}">
                            <td>{{ .Title }}</td>
                            <td>{{ .Author }}</td>
                            <td>{{ .TransformDate }}</td>
                            <td> <button type="submit" style="background-color:red">Delete</button></td>
                        </form>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>